.top-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0%;
  background-color: #F64995;
  font-family: 'Raleway', sans-serif;
  color: white;
  border-radius: 2px;
  border: 15px solid black;
  margin: 5px;
}

.top-nav ul {
  list-style: none;
  padding: 10;
  margin: 10;
}

.top-nav li {
  display: inline-block;
}

.top-nav a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.top-nav a:hover {
  color: #5D082D;
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 15%;
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif;
}

 h1 {
  font-family: 'Raleway';
  font-weight: 700;
  font-display: swap;
  text-align: center;
  color: #F64995;
 }

.api {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 15%;
  background-color: white;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.api img {
  max-width: 100%;
  border-radius: 0px;
  border: 15px solid #F64995; /* Specify 'solid' for the border style */
}

.graph b {
  color: #F64995;
}

.rest {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 15%;
  background-color: #F64995;
  font-family: 'Raleway', sans-serif;
  color: white;
  border: 15px solid black;
}

.rest a {
  color: #5D082D;

}

.graphql {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 15%;
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif
}

.graphql a {
  color: #FF9CC7;
  
}

.compare {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 15%;
  background-color: white;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.expo {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 15%;
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif
}

.conclusion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10%;
  background-color: #F64995;
  font-family: 'Raleway', sans-serif;
  color: white;
  border-radius: 0px;
  border: 15px solid black;
}

.conclusion img {
  max-width: 100%; 
  border-radius: 0px;
  border: 15px solid black;
}

code {
  color: #F64995;
}



.expo {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 15%;
  background-color: #F64995;
  font-family: 'Raleway', sans-serif;
  color: white;
  border: 15px solid black;
}



.exposet {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 15%;
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
  border: 15px solid #F64995;
}

img[src="../css/tut1.png"] {
  border: 10px solid #F64995;
  align-items: center;
  max-width: 100%;
}

img[src="../css/tut2.png"] {
  border: 10px solid #F64995;
  align-items: center;
}

img[src="../css/tut3.png"] {
  border: 10px solid #F64995;
  align-items: center;
}

button {
  border: 2px solid black;
  width: fit-content;
  border-radius: 30px;
  background-color: pink;
  color: white;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

